@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --main-color: #06b6d4;
    --secondary-color: #2563EB;
    --font-main-color: #ffffff;
    --font-secondary-color:#64748B;
    --font-navbar: #facc15;
    --alert-main: #F97316
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--main-color);
    color: #000000;
    font-family: "Poppins", sans-serif;
}

/*NAVBAR*/
.navbar-admin{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    padding: 0.5rem 1.2rem;
    background-color: var(--secondary-color);
    position: sticky;
    top: 0;
    z-index: 9999;
    border: solid 1px;
}
.navbar-admin .nav-logo a, .nav-admin a{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
}
.navbar-admin .nav-logo img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border: solid 2px white;
    border-radius: 50%;
}
.navbar-admin .nav-logo h2, .navbar-admin h2{
    color: var(--font-navbar);
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
}
.navbar-admin .nav-logo, .navbar-admin span{
    color: var(--font-main-color);
}
/*HALAMAN DASHBOARD*/
.admin-sect{
    height: 100vh;
    width: 100%;
    text-align: center;
}
.admin-sect h1{
    color: var(--font-navbar);
}
.admin-sect h3,span{
    color: var(--font-main-color);
}
/*HALAMAN MENU*/
/*HALAMAN EDIT MENU*/
/*HALAMAN TAMBAH_MENU*/
/*HALAMAN ORDERS*/
/*HALAMAN USERS*/
.user-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    text-align: center;
}

.user-container table{
    border-collapse: collapse;
}

.user-container th,
.user-container td{
    padding: 10px 15px;
    text-align: center;
}