@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --main-color: #06b6d4;
    --secondary-color: #2563EB;
    --font-main-color: #ffffff;
    --font-secondary-color:#64748B;
    --font-navbar: #facc15;
    --alert-main: #F97316
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--main-color);
    color: #000000;
    font-family: "Poppins", sans-serif;
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.2rem;
    background-color: var(--secondary-color);
    position: sticky;
    top: 0;
    z-index: 9999;
    border: solid 1px;
}
.nav-logo a{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
}
.nav-logo img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border: solid 2px white;
    border-radius: 50%;
}

.nav-logo h2{
    color: var(--font-navbar);
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
}

.nav-logo h2 span{
    color: var(--font-main-color);
}
.nav-links a{
    color: var(--font-main-color);
    text-decoration: none;
}
.nav-links ul{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    list-style: none;
}
.btn-navLinks{
    background: var(--font-navbar);
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
}
.nav-right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
}
.nav-right a{
    color: #ffffff;
}
.nav-right .btn-cart{
    padding: 9px 12px 0 10px;
    background-color: #22C55E;
    color: #ffffff;
    border-radius: 20px;
}
.nav-right .nav-user{
    padding: 5px 10px 3px 10px;
    background-color: var(--main-color);
    color: #ffffff;
    border-radius: 20px;
}

/*HALAMAN INDEX*/
.search-sect{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:30px;
}
.search-menu{
    position: relative;
    width: 3orem;
}
.search-menu input{
    width: 100%;
    text-align: center;
    padding: 5px 8rem;
    font-size: 1.2rem;
    border-radius: 10px;
    border: solid 2px var(--secondary-color);
}
.search-menu button{
    position: absolute;
    right: 0;
    top:50%;
    transform:translateY(-50%);
    width:40px;
    height:40px;
    border-radius:50%;
    border: none;
    color: var(--secondary-color);
    background: transparent;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
}
.banner-sect{
    width: 100%;
    padding: 20px 5%;
}
.banner-slider{
    width:100%;
    overflow:hidden;
    border-radius:20px;
    position:relative;
}

.info-track{
    display:flex;
    transition: 0.5s ease-in-out;
}

.info-banner{
    min-width:100%;
}

.info-banner img{
    width:100%;
    height: 100%;
    object-fit:cover;
    border-radius:20px;
}

.prev,
.next{
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    width:35px;
    height:35px;
    border:none;
    border-radius:50%;
    background:rgba(0,0,0,0.5);
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    z-index:10;
    transition:0.3s;
}

.prev:hover,
.next:hover{
    background:#00aa5b;
}

.prev{
    left: 0;
}

.next{
    right: 0;
}

.menu-sect{
    padding: 2rem 5%;
    background: var(--font-secondary-color);
    margin-top: 3rem;
}

.menu-tittleSect{
    padding-top: 0;
    text-align: center;
}

.menu-tittleSect h2{
    font-size: 2.5rem;
    color: #ffffff;
    margin-bottom: 10px;
}

.menu-reco{
    padding: 1.2rem;
    margin-bottom: 25px;
    background: var(--font-secondary-color);
}
.menu-reco h3{
    font-size: 1.8rem;
    color: #222;
}
.menu-reco a{
    text-decoration: none;
    color: #ff6600;
    font-weight: 600;
}
.Recomend-container{
    display: flex;
    align-items: center;
    gap: 20px;
}
.menu-card{
    width: 300px;
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    transition: 0.3s;
}
.menu-card:hover{
    transform: translateY(-10px);
}

.menu-card img{
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.menu-desc{
    padding: 20px;
}

.menu-desc h4{
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.menu-desc p{
    color: #666;
    font-size: 0.95rem;
    margin-bottom: 15px;
}

.menu-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.price{
    color: #ff6600;
    font-weight: bold;
}

.rating{
    color: #f4b400;
    font-weight: bold;
}

.button-price{
    display: flex;
    align-items: center;
    gap: 5px;
}

.button-price a{
    padding: 9px 12px 0 10px;
    background-color: #22C55E;
    color: #ffffff;
    border-radius: 10px 0;
}
.button-price button{
    width: 100%;
    border: none;
    padding: 12px;
    border-radius: 0 10px;
    text-align: center;
    background: var(--alert-main);
}

/*HALAMAN LOGIN*/
/*HALAMAN PROFILE*/
/*HALAMAN REGISTER*/
/*HALAMAN MENU*/
/*HALAMAN ABOUT*/
/*HALAMAN CART*/





/*MENU TOGGE*/
.toggle-menu{

    display: none;

    cursor: pointer;

    color: white;
}

.toggle-menu svg{

    width: 28px;

    height: 28px;
}
/*Responsive*/
@media (max-width: 768px){

    .navbar{

        padding: 20px;
    }

    .nav-links{

        position: absolute;

        top: 90px;

        right: -100%;

        width: 250px;

        background: #1a1a1a;

        padding: 30px;

        transition: 0.3s;
    }

    .nav-links.active{

        right: 0;
    }

    .nav-links ul{

        flex-direction: column;

        align-items: flex-start;
    }

    .toogle-menu{

        display: block;
    }

    .nav-user{

        display: none;
    }
}

